* {
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   color: #333;
   background: #2dc9af;
   text-align: center;
}

.game-board {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   padding: 1rem;
   width: 100%;
   max-width: 300px;
   margin: 20px auto;
   background: #fff;
   border: 1px solid #ccc;
   border-radius: 3px;
   overflow: hidden;
}

.game-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 85px;
   font-size: 3rem;
   font-weight: bold;
   color: #fff;
   background: #333;
   border: 0;
   cursor: pointer;
}

.game-btn:hover {
   background: #555;
}

.game-btn:active {
   background: #777;
}

.game-btn.x {
   background: #f00;
}

.game-btn.o {
   background: #00f;
}

.game-btn.x:hover {
   background: #f33;
}

.game-btn.o:hover {
   background: #33f;
}

.game-btn.x:active {
   background: #f66;
}

.game-btn.o:active {
   background: #66f;
}

.game-btn.disabled {
   cursor: not-allowed;
}

.game-btn.disabled:hover {
   background: #333;
}

.game-btn.disabled:active {
   background: #333;
}

.game-btn.disabled.x:hover {
   background: #f00;
}

.game-btn.disabled.o:hover {
   background: #00f;
}

.game-btn.disabled.x:active {
   background: #f00;
}

.game-btn.disabled.o:active {
   background: #00f;
}

.game-btn.disabled.x::before {
   content: 'X';
}

.game-btn.disabled.o::before {
   content: 'O';
}

.game-btn.disabled.x::before,
.game-btn.disabled.o::before {
   display: block;
   font-size: 1.5rem;
   font-weight: normal;
}

.x {
   color: #f00;
}

.o {
   color: #00f;
}